src/utils/recaudo.wsdl

<?xml version="1.0"?>
<definitions name="PlacetoPay_EfectivoAuth" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema targetNamespace="http://tempuri.org/">
			<xsd:complexType name="Attribute">
				<xsd:all>
					<xsd:element name="name" nillable="true" type="xsd:string"/>
					<xsd:element name="value" nillable="true" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfAttribute">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Attribute"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Authentication">
				<xsd:all>
					<xsd:element name="login" nillable="true" type="xsd:string"/>
					<xsd:element name="tranKey" nillable="true" type="xsd:string"/>
					<xsd:element name="seed" nillable="true" type="xsd:string"/>
					<xsd:element name="additional" nillable="true" type="tns:ArrayOfAttribute"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="getBillByReference">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="auth" type="tns:Authentication"/>
						<xsd:element name="reference" type="xsd:string"/>
						<xsd:element name="agreement" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="BillInfo">
				<xsd:all>
					<xsd:element name="reference" nillable="true" type="xsd:string"/>
					<xsd:element name="description" nillable="true" type="xsd:string"/>
					<xsd:element name="debtorID" nillable="true" type="xsd:string"/>
					<xsd:element name="debtorFirstName" nillable="true" type="xsd:string"/>
					<xsd:element name="debtorLastName" nillable="true" type="xsd:string"/>
					<xsd:element name="debtorCode" nillable="true" type="xsd:string"/>
					<xsd:element name="totalCharges" nillable="true" type="xsd:double"/>
					<xsd:element name="totalInterest" nillable="true" type="xsd:double"/>
					<xsd:element name="totalAmount" nillable="true" type="xsd:double"/>
					<xsd:element name="creationDate" nillable="true" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfBillinfo">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:BillInfo"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BillResponse">
				<xsd:all>
					<xsd:element name="status" nillable="true" type="xsd:string"/>
					<xsd:element name="description" nillable="true" type="xsd:string"/>
					<xsd:element name="bills" nillable="true" type="tns:ArrayOfBillinfo"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="getBillByReferenceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getBillByReferenceResult" type="tns:BillResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBillByDebtorID">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="auth" type="tns:Authentication"/>
						<xsd:element name="debtorID" type="xsd:string"/>
						<xsd:element name="agreement" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBillByDebtorIDResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getBillByDebtorIDResult" type="tns:BillResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBillByDebtorCode">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="auth" type="tns:Authentication"/>
						<xsd:element name="debtorCode" type="xsd:string"/>
						<xsd:element name="agreement" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBillByDebtorCodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getBillByDebtorCodeResult" type="tns:BillResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="CheckInfo">
				<xsd:all>
					<xsd:element name="number" nillable="true" type="xsd:string"/>
					<xsd:element name="bank" nillable="true" type="xsd:string"/>
					<xsd:element name="amount" nillable="true" type="xsd:double"/>
					<xsd:element name="exchange" nillable="true" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PaymentInfo">
				<xsd:all>
					<xsd:element name="reference" nillable="true" type="xsd:string"/>
					<xsd:element name="totalAmount" nillable="true" type="xsd:double"/>
					<xsd:element name="date" nillable="true" type="xsd:string"/>
					<xsd:element name="receipt" nillable="true" type="xsd:string"/>
					<xsd:element name="franchise" nillable="true" type="xsd:string"/>
					<xsd:element name="channel" nillable="true" type="xsd:string"/>
					<xsd:element name="method" nillable="true" type="xsd:string"/>
					<xsd:element name="cashAmount" nillable="true" type="xsd:double"/>
					<xsd:element name="checkInfo" nillable="true" type="tns:CheckInfo"/>
					<xsd:element name="payerID" nillable="true" type="xsd:string"/>
					<xsd:element name="agreement" type="xsd:string"/>
					<xsd:element name="agentID" nillable="true" type="xsd:string"/>
					<xsd:element name="location" nillable="true" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="settlePayment">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="auth" type="tns:Authentication"/>
						<xsd:element name="payment" type="tns:PaymentInfo"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SettleResponse">
				<xsd:all>
					<xsd:element name="status" nillable="true" type="xsd:string"/>
					<xsd:element name="description" nillable="true" type="xsd:string"/>
					<xsd:element name="receipt" nillable="true" type="xsd:int"/>
					<xsd:element name="date" nillable="true" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="settlePaymentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="settlePaymentResult" type="tns:SettleResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<portType name="PlacetoPay_EfectivoAuthPort">
		<operation name="getBillByReference">
			<documentation>Prevee los datos de una cuenta de cobro dada una referencia</documentation>
			<input message="tns:getBillByReferenceIn"/>
			<output message="tns:getBillByReferenceOut"/>
		</operation>
		<operation name="getBillByDebtorID">
			<documentation>Prevee los datos de las cuentas pendientes de pago dado el documento de un deudor</documentation>
			<input message="tns:getBillByDebtorIDIn"/>
			<output message="tns:getBillByDebtorIDOut"/>
		</operation>
		<operation name="getBillByDebtorCode">
			<documentation>Prevee los datos de las cuentas pendientes de pago dado el código de un deudor</documentation>
			<input message="tns:getBillByDebtorCodeIn"/>
			<output message="tns:getBillByDebtorCodeOut"/>
		</operation>
		<operation name="settlePayment">
			<documentation>Permite el asiento de pago de una cuenta</documentation>
			<input message="tns:settlePaymentIn"/>
			<output message="tns:settlePaymentOut"/>
		</operation>
	</portType>
	<binding name="PlacetoPay_EfectivoAuthBinding" type="tns:PlacetoPay_EfectivoAuthPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getBillByReference">
			<soap:operation soapAction="http://tempuri.org/#getBillByReference"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getBillByDebtorID">
			<soap:operation soapAction="http://tempuri.org/#getBillByDebtorID"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getBillByDebtorCode">
			<soap:operation soapAction="http://tempuri.org/#getBillByDebtorCode"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="settlePayment">
			<soap:operation soapAction="http://tempuri.org/#settlePayment"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PlacetoPay_EfectivoAuthService">
		<port binding="tns:PlacetoPay_EfectivoAuthBinding" name="PlacetoPay_EfectivoAuthPort">
			<soap:address location="https://placetopay.egm.local/soap/efectivo/authentication/"/>
		</port>
	</service>
	<message name="getBillByReferenceIn">
		<part element="tns:getBillByReference" name="parameters"/>
	</message>
	<message name="getBillByReferenceOut">
		<part element="tns:getBillByReferenceResponse" name="parameters"/>
	</message>
	<message name="getBillByDebtorIDIn">
		<part element="tns:getBillByDebtorID" name="parameters"/>
	</message>
	<message name="getBillByDebtorIDOut">
		<part element="tns:getBillByDebtorIDResponse" name="parameters"/>
	</message>
	<message name="getBillByDebtorCodeIn">
		<part element="tns:getBillByDebtorCode" name="parameters"/>
	</message>
	<message name="getBillByDebtorCodeOut">
		<part element="tns:getBillByDebtorCodeResponse" name="parameters"/>
	</message>
	<message name="settlePaymentIn">
		<part element="tns:settlePayment" name="parameters"/>
	</message>
	<message name="settlePaymentOut">
		<part element="tns:settlePaymentResponse" name="parameters"/>
	</message>
</definitions>
